.logout-button-placing {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.logout-button-placing button {
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
